*{
    margin: 0;
    padding: 0;
    font-family: Oxygen, sans-serif;
}
/* header section  */

.header {
    background-image: url("portfolio-bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .header-info{
    font-size: 2rem;  
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
  .header-info h4{
      color: rgb(159, 172, 184);
  }
  .header-info span{
      color: red;
  }

  /* button section  */

  .btn {
    border: 2px solid #389b65;
    width: 10em;
    height: 2.4em;
    font-family: Oxygen, sans-serif;
    font-size: 16px;
    box-shadow: 0px 0px 15px 3px rgba(15, 15, 15, 0.3);
    color: #fff;
    background-color: #38f709;
    border-radius: 20px;
    transition-property: border, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
  }

  /* about me section  */

  .section {
    width: 100%;
    display: flex;
    margin-top: 3em;
  }
  
  .experience-sec {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .section-header {
    margin: auto;
    font-size: 26px;
    padding: 10px 5px;
    border-bottom: 3px solid #2ecc71;
  }

  .experience-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6em;
  }

  .experience-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border-radius: 4px;
  }

  .item-logo > img {
    width: 100%;
    height: 100%;
  }
  
  .item-logo {
    width: 13em;
    height: 12em;
  }
  
  .item-name {
    font-family: Oxygen, sans-serif;
    font-size: 27px;
    margin-top: 1.7em;
  }


  .welcome-section h2{
      text-align: center;
      font-size: 35px;
      margin: 10px;
  }

  .welcome-section .p1{
      font-weight: 600;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      margin-left: 30px;
  }

  .welcome-section .p2{
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 10px;
      text-align: center;
      font-weight: 600;
  }

  .welcome-section .p3{
      font-size: 25px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 10px;
      text-align: center;
      font-weight: 600;
  }


  /* foooter  */

  .container{
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
  
